.makeInvisible {
    opacity: 0
}

.makeVisible {
    animation-delay: 1.5s;  /* waits until curtain is up */
    opacity: 0;             /* initial opacity */
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards; /* keeps animation at final state rather than boomeranging back! */

}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes raiseCurtain {
    0% {
      /* transform: translateY(0); */
        height: 100vh;
    }
    100% {
      /* transform: translateY(-100%); */
        height: 0;
    }
}
  
#curtain {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation-name: raiseCurtain;
    animation-duration: 2.5s;
    height: 100vh;  /* height of view port */
    min-width: 100%;
    background-color: black;
    -webkit-animation-fill-mode: forwards; /* keeps animation at final state rather than boomeranging back! */

}
  