.makeInvisible {
    opacity: 0
}

/* when the website loads we have a black curatin raise */
#curtain {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation-name: raiseCurtain;
    animation-duration: 2.5s;
    height: 100vh;  /* height of view port */
    min-width: 100%;
    background-color: black;
    -webkit-animation-fill-mode: forwards; /* keeps animation at final state rather than boomeranging back! */
}

@keyframes raiseCurtain {
    0% {
      /* transform: translateY(0); */
        height: 100vh;
    }
    100% {
      /* transform: translateY(-100%); */
        height: 0;
    }
}

/* shows the elements after the curtain lifts */
.makeVisible {
    animation-delay: 1.5s;  /* waits until curtain is up */
    opacity: 0;             /* initial opacity */
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards; /* keeps animation at final state rather than boomeranging back! */

}

@keyframes fadeInOpacity {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1;
	}
}

/* after curtain raises lets elements move up the screen */
.up-slide {
    animation-delay: 1.5s;  /* waits until curtain is up */
    animation-name: slideUp;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards; /* keeps animation at final state rather than boomeranging back! */
}

@keyframes slideUp {
	0% {
        transform: translateY(100%);
	}
	100% {
        transform: translateY(0%);
	}
}

/* after curtain raises work links slide in the from the right */
#left-slide {
    animation-delay: 2s;  /* waits until curtain is up */
    animation-name: slideIn;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: forwards; /* keeps animation at final state rather than boomeranging back! */
}

@keyframes slideIn {
    0% {
      /* transform: translateY(0); */
        transform: translateX(100%);    }
    100% {
      /* transform: translateY(-100%); */
        transform: translateX(0%);  
    }
}

/* removes the formatting for <a></a> elements */
a.work-links {
    text-decoration: none;
    color: black;
    font-size: 25px;
    /* padding-right: 50px; */
    padding: 50px;
}

/* for testing purposes */
.testHover {
    color: red;
}

/* makes work links visible while adding animation */
.makeWorkVisible {
    opacity: 1;
    animation-duration: 3s;
    animation-name: fadeInOpacity;
}

/* makes work links invisible */
.makeWorkInvisible {
    opacity: 0
}
  